/* notification_button*/


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

main .notification {
    position: relative;
    width: 10em;
    height: 10em;
    left: 10em;
}

main .notification svg {
    width: 1em;
    height: 1em;
}

main .notification svg>path {
    fill: rgba(128, 128, 128, 0.938);
}

main .notification--bell {
    animation: bell 2.2s linear infinite;
    transform-origin: 50% 0%;
}

main .notification--bellClapper {
    animation: bellClapper 2.2s 0.1s linear infinite;
}

main .notification--num {
    position: absolute;
    top: 0%;
    left: 7%;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: #FF4C13;
    border: 2px solid rgb(254 243 199);
    color: #FFFFFF;
    text-align: center;
    line-height: 1em;
    animation: notification 3.2s ease;
}

@keyframes bell {

    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(2deg);
    }

    45% {
        transform: rotate(-2deg);
    }

    55% {
        transform: rotate(1deg);
    }

    60% {
        transform: rotate(-1deg);
    }
}

@keyframes bellClapper {

    0%,
    25%,
    75%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-0.15em);
    }

    45% {
        transform: translateX(0.15em);
    }

    55% {
        transform: translateX(-0.1em);
    }

    60% {
        transform: translateX(0.1em);
    }
}

@keyframes notification {

    0%,
    25%,
    75%,
    100% {
        opacity: 1;
    }

    30%,
    70% {
        opacity: 0;
    }
}